<div class="container">
  <footer class="footer__inner">
    <div class="footer__main">
      <!-- footer-col-01 -->
      <div class="footer__col">
        <!-- logo -->
        <a href="./" class="logo">
          <img
            src="./assets/icons/logo.svg"
            alt="grocerymart"
            class="logo--icon"
          />
          <h1 class="logo--title">grocerymart</h1>
        </a>
        <p class="footer__col--desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus quo
          a magnam facilis tenetur vel! Eligendi suscipit reiciendis laudantium
          amet.
        </p>
        <form action="" class="footer__col--form">
          <label for="contact-email" class="footer__label"
            >Receive product news and updates.
          </label>
          <div class="form__submit">
            <input
              type="email"
              name="contact"
              id="contact-email"
              class="form__input"
              placeholder="Email address"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            />
            <button class="btn btn--primary form__btn">SEND</button>
          </div>
        </form>
      </div>
      <!-- footer-col-02 -->
      <div class="footer__col">
        <h2 class="footer__col--heading">SHOP</h2>
        <ul class="footer__col--list">
          <li class="footer__col--item">
            <a href="#!" class="footer__col--item--link">All Departments</a>
          </li>
          <li class="footer__col--item">
            <a href="#!" class="footer__col--item--link">Fashion Deals</a>
          </li>
          <li class="footer__col--item">
            <a href="#!" class="footer__col--item--link">
              Electronics Discounts
            </a>
          </li>
          <li class="footer__col--item">
            <a href="#!" class="footer__col--item--link">
              Home & Living Specials
            </a>
          </li>
          <li class="footer__col--item">
            <a href="#!" class="footer__col--item--link">Beauty Bargains</a>
          </li>
        </ul>
      </div>
      <!-- footer-col-03 -->
      <div class="footer__col">
        <h2 class="footer__col--heading">SUPPORT</h2>
        <ul class="footer__col--list">
          <li class="footer__col--item">
            <a href="#!" class="footer__col--item--link">Store locator</a>
          </li>
          <li class="footer__col--item">
            <a href="#!" class="footer__col--item--link">Order status</a>
          </li>
        </ul>
      </div>
      <!-- footer-col-04 -->
      <div class="footer__col">
        <h2 class="footer__col--heading">COMPANY</h2>
        <ul class="footer__col--list">
          <li class="footer__col--item">
            <a href="#!" class="footer__col--item--link">Customer Service</a>
          </li>
          <li class="footer__col--item">
            <a href="#!" class="footer__col--item--link">Terms of Use</a>
          </li>
          <li class="footer__col--item">
            <a href="#!" class="footer__col--item--link"> Privacy </a>
          </li>
          <li class="footer__col--item">
            <a href="#!" class="footer__col--item--link"> Careers </a>
          </li>
          <li class="footer__col--item">
            <a href="#!" class="footer__col--item--link">About</a>
          </li>
          <li class="footer__col--item">
            <a href="#!" class="footer__col--item--link">Affiliates</a>
          </li>
        </ul>
      </div>
      <!-- footer-col-05 -->
      <div class="footer__col">
        <h2 class="footer__col--heading">CONTACT</h2>
        <div class="footer__col--list">
          <div class="footer__col__group">
            <span class="footer__col--name">Email</span>
            <a
              href="mailto:contact@grocerymart.com"
              class="footer__col__group--desc footer__col--email"
            >
              contact@grocerymart.com
            </a>
          </div>
          <div class="footer__col__group">
            <span class="footer__col--name">Hotline</span>
            <a
              href="tel:+18008888"
              class="footer__col__group--desc footer__col--phone"
            >
              18008888
            </a>
          </div>
          <div class="footer__col__group">
            <span class="footer__col--name">Address</span>
            <p class="footer__col__group--desc footer__col--address">
              No. 11D, Lot A10, Nam Trung Yen urban area, Yen Hoa Ward, Cau Giay
              District, City. Hanoi
            </p>
          </div>
          <div class="footer__col__group">
            <span class="footer__col--name">Hours</span>
            <p class="footer__col__group--desc footer__col--hours">
              M - F 08:00am - 06:00pm
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__sub">
      <small class="footer__copyright d-md-none">
        © 2010 - 2025 Grocery Mart. All rights reserved.
      </small>
      <div class="footer__social">
        <a href="#!" class="footer__social--link bg-facebook">
          <img
            src="./assets/img/social-footer/facebook.svg"
            alt="photo-social"
            class="footer__social--photo"
          />
        </a>
        <a href="#!" class="footer__social--link bg-youtube">
          <img
            src="./assets/img/social-footer/youtube.svg"
            alt="photo-social"
            class="footer__social--photo"
          />
        </a>
        <a href="#!" class="footer__social--link bg-tiktok">
          <img
            src="./assets/img/social-footer/tiktok.svg"
            alt="photo-social"
            class="footer__social--photo"
          />
        </a>
        <a href="#!" class="footer__social--link bg-twitter">
          <img
            src="./assets/img/social-footer/twitter.svg"
            alt="photo-social"
            class="footer__social--photo"
          />
        </a>
        <a href="#!" class="footer__social--link bg-linkedin">
          <img
            src="./assets/img/social-footer/linkedin.svg"
            alt="photo-social"
            class="footer__social--photo"
          />
        </a>
      </div>
    </div>
  </footer>
</div>
