<div class="container">
  <header class="header-inner">
    <!-- more -->
    <button class="icon header-inner__more">
      <img src="./assets/icons/more.svg" alt="icon-more" class="more--icon" />
    </button>
    <!-- logo -->
    <a href="./" class="logo">
      <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo--icon" />
      <h1 class="logo--title">grocerymart</h1>
    </a>
    <!-- navbar -->
    <nav class="navbar">
      <ul class="navbar-list js-dropdown-list">
        <li class="navbar-item">
          <a href="#!" class="navbar-item__link">
            Departments
            <img
              src="./assets/icons/arrow-down.svg"
              alt="icon"
              class="icon navbar-item__icon"
            />
          </a>
          <div class="menu-dropdown">
            <div class="dropdown-inner">
              <div class="dropdown-column">
                <div class="dropdown-column__icon">
                  <img
                    src="./assets/img/category/cate-1.1.svg"
                    alt="icon"
                    class="dropdown-column__icon--01"
                  />
                  <img
                    src="./assets/img/category/cate-1.2.svg"
                    alt=""
                    class="dropdown-column__icon--02"
                  />
                </div>
                <div class="dropdown-column__contents">
                  <ul class="column-list">
                    <h2 class="column-item__heading">All Departments</h2>
                    <li class="column-item">
                      <a href="#!" class="column-item__link"
                        >Savings & Featured Shops</a
                      >
                    </li>
                    <li class="column-item">
                      <a href="#!" class="column-item__link">Electronics</a>
                    </li>
                    <li class="column-item">
                      <a href="#!" class="column-item__link"
                        >Clothing, Shoes & Accessories</a
                      >
                    </li>
                    <li class="column-item">
                      <a href="#!" class="column-item__link"
                        >Home, Furniture & Appliances</a
                      >
                    </li>
                    <li class="column-item">
                      <a href="#!" class="column-item__link"
                        >Toys & Video Games</a
                      >
                    </li>
                    <li class="column-item">
                      <a href="#!" class="column-item__link"
                        >Home Improvement</a
                      >
                    </li>
                    <li class="column-item">
                      <a href="#!" class="column-item__link">Baby</a>
                    </li>
                    <li class="column-item">
                      <a href="#!" class="column-item__link"
                        >Household Essentials</a
                      >
                    </li>
                    <li class="column-item">
                      <a href="#!" class="column-item__link">Personal Care</a>
                    </li>
                    <li class="column-item">
                      <a href="#!" class="column-item__link">Patio & Garden</a>
                    </li>
                    <li class="column-item">
                      <a href="#!" class="column-item__link"
                        >Sports & Outdoors</a
                      >
                    </li>
                    <li class="column-item">
                      <a href="#!" class="column-item__link">Gift Cards</a>
                    </li>
                    <li class="column-item">
                      <a href="#!" class="column-item__link"
                        >Auto, Tires and Industrial</a
                      >
                    </li>
                    <li class="column-item">
                      <a href="#!" class="column-item__link"
                        >Movies, Music & Books</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="navbar-item">
          <a href="#!" class="navbar-item__link">
            Grocery
            <img
              src="./assets/icons/arrow-down.svg"
              alt="icon"
              class="icon navbar-item__icon"
            />
          </a>
        </li>
        <li class="navbar-item">
          <a href="#!" class="navbar-item__link">
            Beauty
            <img
              src="./assets/icons/arrow-down.svg"
              alt="icon"
              class="icon navbar-item__icon"
            />
          </a>
        </li>
      </ul>
    </nav>
    <!-- action -->
    <div class="action">
      <div class="action__group action__group--single">
        <button class="action__group--btn">
          <img
            src="./assets/icons/search.svg"
            alt="icon"
            class="icon action--icon"
          />
        </button>
      </div>

      <div class="action__group">
        <button class="action__group--btn">
          <img
            src="./assets/icons/heart.svg"
            alt="icon"
            class="icon action--icon"
          />
          <span class="action--title">03</span>
        </button>

        <div class="action__group--separate"></div>

        <button class="action__group--btn">
          <img
            src="./assets/icons/cart.svg"
            alt="icon"
            class="icon action--icon"
          />
          <span class="action--title">$65.42</span>
        </button>
      </div>

      <div class="action__user">
        <img
          src="./assets/img/user-avarta.jpg"
          alt=""
          class="action__user--avarta"
        />
      </div>
    </div>
  </header>
</div>
