@use "../abstract";

html.dark {
  --text-color-title-cate: #fff;
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(13%)
    saturate(7484%) hue-rotate(292deg) brightness(130%) contrast(88%);
  --bg-header: #171c28;
  --bg-body: #292e39;
  --bg-btn-header: #292e39;
  --bg-box-shadown-btn: rgba(0, 0, 0, 0.2);
  --color-separate-header: #ededf6;
  @include abstract.breakpoints(sm) {
    --shadown-header: rgba(0, 0, 0, 0.2);
  }

  // menu-dropdown
  --menu-bg-color: #363d4b;
  --menu-shadown-color: rgba(23, 28, 40, 0.4);
  --arrow-dropdown-color: brightness(0) saturate(100%) invert(10%) sepia(6%)
    saturate(5345%) hue-rotate(182deg) brightness(98%) contrast(66%);
  --dropdown-separate-color: #171c28;
  --color-cate-icons: brightness(0) saturate(100%) invert(88%) sepia(16%)
    saturate(32%) hue-rotate(225deg) brightness(105%) contrast(100%);
  --text-color-dropdown: #b9babe;
  --bg-navbar-lg: #292e39;

  // Side-bar
  --icon-sidebar-dark: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(6230%) hue-rotate(266deg) brightness(75%) contrast(92%);

  // Browse Categories
  --bg-categoty-item: #171c28;
  --bg-categoty-item-sm: #171c28;
  --bg-category-photo: #292e39;

  //button
  --color-text-filter: #fff;
  --color-text-btn-outline: #b9babe;

  // product
  --bg-product-item: #171c28;
  --bg-product-heart: #292e39;
  --shadow-product-item: rgba(0, 0, 0, 0.2);

  // filter
  --bg-filter: #292e39;
  --bg-arrow-filter: brightness(0) saturate(100%) invert(15%) sepia(7%)
    saturate(1661%) hue-rotate(183deg) brightness(96%) contrast(91%);
  --shadow-filter: rgba(0, 0, 0, 0.4);
  --bg-circle-rate: #292e39;
  --bg-tag: #171c28;
  --color-tag-hover: #fff;

  // sign-up
  --bg-intro: #171c28;
  --bg-sign-up: #292e39;
  --bg-color-warning-input: #3d3039;
  --bg-intro-tablet-moblie: #171c28;
  --text-color-signUp-primary: #b9babe;
  --color-text-label-checkbox: #b9babe;
  --color-placeholder-input-signup: #b9babe;
}
