@use "../abstract";

html.light {
  --text-color-title-cate: #000;
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(10%) sepia(47%)
    saturate(587%) hue-rotate(210deg) brightness(95%) contrast(102%);
  --bg-header: #eee;
  --bg-body: #f6f6f6;
  --bg-btn-header: #fff;
  border-radius: 8px;
  --bg-box-shadown-btn: rgba(237, 237, 246, 0.2);
  --color-separate-header: #ededf6;
  @include abstract.breakpoints(sm) {
    --bg-header: #fff;
    --shadown-header: rgba(237, 237, 246, 0.2);
  }

  // menu-dropdown
  --menu-bg-color: #fff;
  --menu-shadown-color: rgba(200, 200, 200, 0.4);
  --arrow-dropdown-color: #fff;
  --dropdown-separate-color: #d2d1d6;
  --bg-navbar-lg: #fff;
  --text-color-dropdown: #1a162e;

  // Browse Categories
  --bg-categoty-item: #eee;
  --bg-categoty-item-sm: #fff;
  --bg-category-photo: #fff;

  // button
  --color-text-filter: #6c6c72;

  // product
  --bg-product-item: #fff;
  --bg-product-heart: #fff;
  --shadow-product-item: rgba(237, 237, 246, 0.2);

  // filter
  --bg-filter: #fff;
  --shadow-filter: rgba(200, 200, 200, 0.4);
  --bg-circle-rate: #ffff;
  --bg-tag: #f8f8fb;
  --color-tag-hover: #1a162e;
}
