@use "../abstract";

html.light {
  --text-color-title-cate: #000;
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(10%) sepia(47%)
    saturate(587%) hue-rotate(210deg) brightness(95%) contrast(102%);
  --bg-header: #eee;
  --bg-body: #f6f6f6;
  --bg-btn-header: #fff;
  border-radius: 8px;
  --bg-box-shadown-btn: rgba(237, 237, 246, 0.2);
  --color-separate-header: #ededf6;
  @include abstract.breakpoints(sm) {
    --bg-header: #fff;
    --shadown-header: rgba(237, 237, 246, 0.2);
  }

  // menu-dropdown
  --menu-bg-color: #fff;
  --menu-shadown-color: rgba(200, 200, 200, 0.4);
  --arrow-dropdown-color: #fff;
  --dropdown-separate-color: #d2d1d6;
  --bg-navbar-lg: #fff;
  --text-color-dropdown: #1a162e;

  // Browse Categories
  --bg-categoty-item: #eee;
  --bg-categoty-item-sm: #fff;
  --bg-category-photo: #fff;

  // button
  --color-text-filter: #6c6c72;
  --color-text-btn-outline: #1a162e;
  --color-text-btn: #9e9da8;

  // product
  --bg-product-item: #fff;
  --bg-product-heart: #fff;
  --shadow-product-item: rgba(237, 237, 246, 0.2);

  // filter
  --bg-filter: #fff;
  --shadow-filter: rgba(200, 200, 200, 0.4);
  --bg-circle-rate: #ffff;
  --bg-tag: #f8f8fb;
  --color-tag-hover: #1a162e;

  // sign-up
  --bg-intro: #eee;
  --bg-sign-up: #fff;
  --bg-color-warning-input: #fdeceb;
  --bg-intro-tablet-moblie: #fff;
  --text-color-signUp-primary: #1a162e;
  --color-text-label-checkbox: #9e9da8;
  --color-placeholder-input-signup: #d2d1d6;

  // product-page
  --bg-product: #fff;
  @include abstract.breakpoints(sm) {
    --bg-product: #f9f9fc;
  }
  --bg-product-info: var(--bg-breadcrumbs);
  --bg-tag-prod-info: #ededf6;

  --bg-review: #fafafd;

  // Search-bar
  --bg-search-bar: #fff;
  --color-placeholder-search-bar: #9e9da8;

  // breadcrumbs
  --bg-breadcrumbs: #f6f6f6;
  @include abstract.breakpoints(sm) {
    --bg-breadcrumbs: #fff;
  }
  --shadow-breadcrumbs: rgba(237, 237, 246, 0.2);

  // action-dropdown
  --bg-action-dropdown: #fff;
  --shadow-action-dropdown: rgba(200, 200, 200, 0.4);
  --border-action-photo: #d2d1d6;
  --bg-action-separate: #d2d1d6;
  --color-text-action-dropdown: #1a162e;

  // checkout-page
  --bg-checkout-page: #f6f6f6;
  @include abstract.breakpoints(md) {
    --bg-checkout-page: #f9f9fd;
  }
  --bg-checkout-breadcrumb: #fff;
  --shadow-checkout-product: rgba(237, 237, 246, 0.2);
  --bg-checkout-separate: #d2d1d6;
  --border-color-checkout-button: #d2d1d6;
  --bg-color-gift: rgba(229, 217, 255, 0.5);
  --shadow-gift: rgba(237, 237, 246, 0.2);

  // modal
  --bg-modal: #f6f6f6;

  // sticked--btn
  --border-color-sticked: #000;

  // dialog
  --bg-dialog: #fff;

  // payment
  --bg-payment-cart: #f6f6f6;

  // profile
  --bg-block: #fff;
  --shadow-block: rgba(237, 237, 246, 0.2);
  --bg-account-info: #f6f6f6;
  --color-text-account-info: #1a162e;
  --bg-account-info-icon: #fff;
  --bg-hover-profile-menu-item: #ebebeb;
}
