// button filter
.filter__wap {
  position: relative;
  z-index: 3;
}
.filter__btn {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  gap: 14px;
  border-radius: 6px;
  background-color: var(--bg-product-item);
  &--name {
    color: var(--color-text-filter);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
  }
  &--icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4.5px 4px 5.1px 4px;
  }
}

// heart-btn
.heart__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 99px;
  background-color: var(--bg-product-heart);
  box-shadow: 0px 20px 60px rgba(124, 124, 124, 0.2);
  &.heart__btn--liked {
    .heart__btn--red {
      display: block;
      margin-top: 6px;
    }
    .heart__btn--icon {
      display: none;
    }
  }
  & {
    .heart__btn--red {
      display: none;
    }
  }
}

// button
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
}
.btn--text {
  color: var(--color-text-btn);
}

.btn--outline {
  border-radius: 10px;
  border: 1px solid #d2d1d6;
  color: var(--color-text-btn-outline);
  background-color: transparent;
}

.btn--primary {
  padding: 10px 20px;
  border-radius: 6px;
  background: #ffb700;
  color: #1a162e;
  &:hover {
    background-color: rgba(255, 183, 0, 0.8);
  }
}

.btn--radius {
  border-radius: 99px;
}
