@use "../abstract";
.checkout-page {
  display: flex;
  background-color: var(--bg-checkout-page);
  padding-bottom: 30px;
}
.checkout-container {
  margin: 30px 0;
}
.checkout--search-bar,
.checkout--breadcrumbs,
.checkout-product,
.checkout-price,
.checkout-gift {
  border-radius: 20px;
  background-color: var(--bg-checkout-breadcrumb);
  box-shadow: 0px 20px 60px 10px var(--shadow-checkout-product);
}
.checkout-product {
  padding: 0 30px;
  @include abstract.breakpoints(md) {
    padding: 0 15px;
  }
}
.checkout__item {
  display: flex;
  align-items: center;
  column-gap: 30px;
  padding: 30px 0;
  @include abstract.breakpoints(md) {
    padding: 15px 0;
  }
  @include abstract.breakpoints(md) {
    column-gap: 16px;
  }
  &__photo {
    display: block;
    width: min(175px, 100%);
    aspect-ratio: 175 / 172;
    @include abstract.breakpoints(md) {
      align-self: flex-start;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__content {
    flex-grow: 1;
  }
  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    @include abstract.breakpoints(md) {
      align-items: flex-start;
      row-gap: 10px;
    }
    & + & {
      margin-top: 16px;
    }
  }
  &__heading {
    width: min(374px, 100%);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.44;
  }
  &__price-wrap {
    font-size: 1.8rem;
    font-weight: 500;
    color: #9e9da8;
    margin: 16px 0;
  }
  &__price {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.45;
  }
  &--status {
    color: #67b044;
  }
  &__group-button {
    display: flex;
    align-items: center;
    @include abstract.breakpoints(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid var(--border-color-checkout-button);
    @include abstract.breakpoints(md) {
      column-gap: 20px;
    }
    & + & {
      margin-left: 20px;
      @include abstract.breakpoints(sm) {
        margin-left: 0;
        margin-top: 15px;
      }
    }
  }
  &__button--not-border {
    border: none;
    padding: 10px 0;
  }
  &__brand {
    font-size: 1.5rem;
    font-weight: 500;
  }
  &--liked,
  &--bin {
    display: flex;
    align-items: center;
    column-gap: 5px;

    font-size: 1.6rem;
    font-weight: 500;
    color: #9e9da8;
    &:hover {
      cursor: pointer;
    }
    img {
      filter: brightness(0) saturate(100%) invert(67%) sepia(10%) saturate(231%)
        hue-rotate(206deg) brightness(93%) contrast(87%);
    }
  }
  &--link {
    display: flex;
    align-items: center;
    align-self: flex-end;
    column-gap: 10px;
    font-size: 1.8rem;
    font-weight: 500;
    color: inherit;
    img {
      transition: transform 0.2s linear;
    }
    &:hover img {
      transform: translateX(-10px);
    }
  }
  &__group-price {
    margin-left: auto;
    width: 287px;
  }
  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 1.8rem;
    font-weight: 500;
    &:nth-child(2) {
      margin-top: 10px;
    }
    &--bold {
      font-size: 2.2rem;
      font-weight: 700;
    }
  }
}

.checkout__separate {
  width: 100%;
  height: 1px;
  background-color: var(--bg-checkout-separate);
  &--small {
    margin: 30px 0;
  }
}

.checkout-price {
  padding: 30px;
  @include abstract.breakpoints(xl) {
    margin-top: 30px;
  }
  @include abstract.breakpoints(md) {
    padding: 16px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    & + & {
      margin-top: 14px;
    }
  }
  &__desc,
  &__number {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
  }
  &--btn {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 46px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.45;

    margin-top: 30px;
    padding: 0;
  }
}
.checkout-gift {
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 30px;
  margin-top: 30px;
  @include abstract.breakpoints(md) {
    padding: 16px;
  }
  &__heading {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.44;
    margin-bottom: 10px;
  }
  &__desc {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.43;
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 78px;
    height: 78px;
    border-radius: 14px;
    background-color: var(--bg-color-gift);
    box-shadow: 0px 20px 60px 10px var(--shadow-gift);
  }
}
