@use "../abstract";

.menu-dropdown {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 54px;
  display: none;
  @include abstract.breakpoints(lg) {
    position: initial;
    padding-top: 0;
  }
  @include abstract.breakpoints(sm) {
    margin-top: 10px;
  }
}

.dropdown-inner {
  position: relative;
  // width: 1240px;
  width: min(1240px, 100%);
  --height-dropdown-inner: min(
    582px,
    calc(100vh - var(--height-header) - 48px)
  );
  --padding-dropdown-inner: 30px;
  height: var(--height-dropdown-inner);

  border-radius: 20px;
  background: var(--menu-bg-color);
  box-shadow: 0px 40px 90px 20px var(--menu-shadown-color);
  padding: var(--padding-dropdown-inner);
  &::before {
    position: absolute;
    top: -12px;
    left: var(--arrow-left-pos);
    transform: translateX(-50%);
    content: url(../icons/arrow-dropdown.svg);
    filter: var(--arrow-dropdown-color);
  }
  @include abstract.breakpoints(lg) {
    height: auto;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    padding: 0;
    overflow-y: auto;
    &::before {
      content: none;
    }
  }
}

.dropdown-column {
  display: flex;
  gap: 14px;
  height: calc(
    var(--height-dropdown-inner) - var(--padding-dropdown-inner) * 2
  );
  width: 292px;
  border-right: 1px solid var(--dropdown-separate-color);
  overflow-y: auto;
  @include abstract.breakpoints(lg) {
    border: none;
    height: 100%;
    width: 100%;
  }

  &__icon {
    position: relative;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    @include abstract.breakpoints(xl) {
      display: none;
    }
    &--01 {
      width: 30px;
      height: 30px;
      object-fit: contain;
    }
    &--02 {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 24px;
      height: 24px;
      object-fit: contain;
      filter: var(--color-cate-icons);
    }
  }

  &__contents {
    flex-grow: 1;
    width: 212px;
    .column-list {
      .column-item__heading {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        margin: 5px 0 26px;
        color: var(--text-color-dropdown);
      }
      .column__item--active {
        .column-item__link {
          font-weight: 500;
          color: #0071dc;
        }
        .sub-menu {
          display: grid;
        }
      }

      .column-item {
        &__link {
          display: block;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.43;
          padding: 7px 0;
          color: var(--text-color-dropdown);
        }
        &:first-of-type .column-item__link {
          padding-top: 0;
        }
        &:last-of-type .column-item__link {
          padding-bottom: 0;
        }
      }
    }
  }
}

.sub-menu {
  position: absolute;
  inset: 30px 30px 30px 322px;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  column-gap: auto;
  padding-left: 30px;
  overflow-y: auto;
  .dropdown-column__icon {
    @include abstract.breakpoints(xl) {
      display: none;
    }
    @include abstract.breakpoints(lg) {
      display: block;
    }
  }
  @include abstract.breakpoints(xl) {
    column-gap: 30px;
  }
  @include abstract.breakpoints(lg) {
    position: initial;
    inset: initial;
    padding-left: 0;
    grid-template-columns: 1fr;
  }

  &__column {
    &--inner {
      & + & {
        margin-top: 30px;
      }
      display: flex;
      gap: 14px;
    }
  }
  .sub-menu__list {
    .sub-menu__heading {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.5;
      margin: 5px 0 26px;
      color: var(--text-color-dropdown);
    }
    .sub-menu__item {
      &--link {
        display: block;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.43;
        padding: 7px 0;
        color: var(--text-color-dropdown);
        &:hover {
          font-weight: 500;
          color: #0071dc;
        }
      }
      &:first-of-type .sub-menu__item--link {
        padding-top: 0;
      }
      &:last-of-type .sub-menu__item--link {
        padding-bottom: 0;
      }
    }
  }
}

.sub-menu__not-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  inset: initial;
  padding-left: 0;
  height: calc(
    var(--height-dropdown-inner) - var(--padding-dropdown-inner) * 2
  );
  width: calc(min(1240px, 100%) - var(--padding-dropdown-inner) * 2);
  @include abstract.breakpoints(lg) {
    grid-template-columns: 1fr;
    height: auto;
    width: 100%;
  }
}
