@use "../abstract";

.search-bar {
  align-items: center;
  height: 50px;
  border-radius: 10px;
  background-color: var(--bg-search-bar);

  @include abstract.breakpoints(sm) {
    border-radius: 20px;
  }
  &__input {
    border: none;
    outline: none;
    padding-left: 15px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.43;
    height: 100%;
    width: 100%;
    &::placeholder {
      color: var(--color-placeholder-search-bar);
      font-weight: 400;
    }
  }
  &__btn {
    margin-left: auto;
    padding: 0 15px;
    height: 100%;
  }
}
