@use "../abstract";

/* ============== Common ============== */
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
  // cursor: url("/assets/icons/pointinghand.svg"), auto;
  // height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  background-color: var(--bg-body);
  color: var(--text-color);
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

input,
textarea {
  outline: none;
  background-color: transparent;
}

textarea {
  outline: none;
  background-color: transparent;
  resize: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.icon {
  filter: (var(--icon-color));
}

.separate {
  margin: var(--margin) 0;
  height: 1px;
  background-color: #d2d1d6;
}
