@use "../abstract";

/*=========== Placehoder =========*/
%flexCenter {
  display: flex;
  align-items: center;
}

/*=========== Header ============*/
.header {
  --heght-navbar: 50px;
  --padding-header: 30px;
  --height-header: calc(var(--heght-navbar) + var(--padding-header) * 2);

  background-color: Var(--bg-header);
  padding: var(--padding-header);

  @include abstract.breakpoints(lg) {
    padding: 20px;
  }
  @include abstract.breakpoints(sm) {
    padding: 15px;
    box-shadow: 0px 20px 60px 10px var(--shadown-header);
  }
}
.header-inner {
  @extend %flexCenter;

  @include abstract.breakpoints(xl) {
    justify-content: space-between;
  }
  @include abstract.breakpoints(lg) {
    justify-content: start;
  }
  @include abstract.breakpoints(sm) {
    justify-content: space-between;
  }
  position: relative;

  &__more {
    padding-top: 5px;
    padding-right: 10px;
    @include abstract.breakpoints(sm) {
      padding-right: 0;
    }
  }
}

.navbar {
  margin-left: 129px;
  z-index: 9;

  @include abstract.breakpoints(xl) {
    margin-left: 0;
  }
  @include abstract.breakpoints(lg) {
    position: fixed;
    inset: 0 50% 0 0;
    background-color: var(--bg-navbar-lg);
    z-index: 9;
    padding: 30px;
    border-radius: 0px 20px 20px 0px;

    transform: translateX(-100%);
    transition: transform 0.25s linear;
    &.show {
      transform: translateX(0);
    }
    &.show ~ &__overlay {
      visibility: visible;
      opacity: 1;
    }
    overscroll-behavior: contain;
  }

  @include abstract.breakpoints(sm) {
    inset: 0 10% 0 0;
    padding: 20px 0;
  }

  &__close {
    display: none;
    @include abstract.breakpoints(lg) {
      filter: var(--icon-sidebar-dark);
      &--btn {
        padding: 10px 0;
      }
    }
    @include abstract.breakpoints(sm) {
      padding: 0 20px;
    }
  }

  &__btn {
    @include abstract.breakpoints(sm) {
      align-items: center;
      height: 42px;
      padding: 0 20px;
      &--icon {
        filter: var(--icon-sidebar-dark);
      }
      &--title {
        color: var(--text-color-dropdown);
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.47;
        margin-left: 16px;
      }
      &--number {
        @extend .navbar__btn--title;
        margin-left: auto;
      }
    }
  }

  &__overlay {
    visibility: hidden;
    opacity: 0;
    @include abstract.breakpoints(lg) {
      position: fixed;
      inset: 0;
      background-color: rgba($color: #000000, $alpha: 0.4);
      z-index: 8;
      transition: visibility, opacity 0.25s linear;
    }
  }

  &-list {
    @extend %flexCenter;
    @include abstract.breakpoints(lg) {
      flex-direction: column;
      align-items: flex-start;
      height: calc(100% - 40px);
      overflow-y: auto;
    }
    @include abstract.breakpoints(sm) {
      height: calc(100% - 130px);
      padding: 0 20px;
    }
  }

  &-item {
    width: 100%;
    &:hover .menu-dropdown {
      display: block;
      @include abstract.breakpoints(lg) {
        display: none;
      }
    }
    &.navbar__item--active .menu-dropdown {
      @include abstract.breakpoints(lg) {
        display: block;
      }
    }
    &.navbar__item--active &__icon {
      @include abstract.breakpoints(lg) {
        rotate: 0deg;
      }
    }
    &__link {
      @extend %flexCenter;
      gap: 6px;
      padding: 0 15px;
      color: var(--text-color);
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.47;
      height: var(--heght-navbar);
      @include abstract.breakpoints(lg) {
        justify-content: space-between;
        color: var(--text-color-dropdown);

        padding: 0;
        height: 44px;
        font-size: 1.8rem;
      }
      @include abstract.breakpoints(sm) {
        font-size: 1.6rem;
      }
    }
    &__icon {
      @include abstract.breakpoints(lg) {
        filter: var(--icon-sidebar-dark);
        margin-right: 10px;
        rotate: -90deg;
      }
      @include abstract.breakpoints(sm) {
        margin-right: 0;
      }
    }
  }
}
.theme {
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin-left: auto;
  margin-right: 15px;
  height: var(--heght-navbar);

  &:hover {
    cursor: pointer;
  }
  &__name {
    font-weight: 500;
  }
  &__icon {
    width: 24px;
    height: 24px;
    object-fit: cover;
  }
}
.action {
  margin-left: auto;
  gap: 20px;

  @extend %flexCenter;
  @include abstract.breakpoints(xl) {
    margin-left: 0;
  }
  @include abstract.breakpoints(lg) {
    margin-left: auto;
  }
  @include abstract.breakpoints(sm) {
    margin-left: 0;
  }

  &__group--single &__group--btn {
    padding: 13px;
  }
  &__group {
    @extend %flexCenter;

    border-radius: 8px;
    background-color: var(--bg-btn-header);
    box-shadow: 0px 20px 60px 10px var(--bg-box-shadown-btn);
    &--separate {
      width: 1px;
      height: 30px;
      background-color: var(--color-separate-header);
    }
  }
  &__group--btn__wrap {
    position: relative;
    &:hover .action-dropdown {
      display: block;
    }
  }
  &__group--btn {
    @extend %flexCenter;
    gap: 10px;
    padding: 13px 20px;
    cursor: pointer;
    .action--title {
      color: var(--text-color);
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.47;
    }
  }
  &__user {
    position: relative;
    width: 50px;
    height: 50px;
    &:hover .action-dropdown {
      display: block;
    }
    &--avarta {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      object-fit: cover;
    }
  }
  .btn--signIn,
  .btn--signUp {
    font-size: 1.6rem;
    padding: 10px 20px;
    @include abstract.breakpoints(md) {
      padding: 5px 15px;
    }
  }
}

.action-dropdown {
  &__user {
    right: 0;
  }
  &__arrow__user {
    right: 14px;
  }
  &__inner__user {
    width: min(300px, 100vw);
  }
}

.menu-user {
  font-weight: 500;
  &__top {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    outline: 2px solid #77dae6;
    outline-offset: 3px;
  }
  &__mail {
    margin-top: 5px;
  }
  &__list {
    margin-top: 10px;
  }
  &__item__inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover {
      cursor: pointer;
    }
  }
  &__item__separate {
    border-top: 1px solid #77dae6;
    padding-top: 10px;
    margin-top: 10px;
  }
  &__item__link {
    display: block;
    height: inherit;
    padding: 10px 0;
  }
}
