@use "../abstract";
.product-page {
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-product);
  padding-bottom: 30px;
}
.product-container {
  margin-top: 30px;
  @include abstract.breakpoints(md) {
    margin-top: 20px;
  }
}

// product-preview
.prod-preview {
  @include abstract.breakpoints(lg) {
    display: flex;
    flex-direction: row-reverse;
  }
  @include abstract.breakpoints(sm) {
    background: var(--bg-product-info);
    border-radius: 20px 20px 0 0;
  }
}

.prod-preview__photo {
  display: flex;
  width: min(511px, 100%);
  height: min(507px, 100%);
  padding: 0 45px;
  margin: 0 auto;
  overflow: hidden;
  @include abstract.breakpoints(md) {
    padding: 16px 16px 0 16px;
  }
  &--item {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.prod-preview__thumbs {
  display: flex;
  justify-content: center;
  gap: 15px 26px;
  margin-top: 20px;
  @include abstract.breakpoints(lg) {
    flex-direction: column;
  }
  @include abstract.breakpoints(sm) {
    display: none;
  }
  &--item {
    flex-shrink: 0;
    height: 60px;
    aspect-ratio: 1/1;
    object-fit: contain;
    border: 1.5px solid #9e9da8;
    border-radius: 10px;
    opacity: 0.9;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
  &--current {
    opacity: 1;
    border: 2px solid #ffb700;
  }
}

.prod-info {
  padding: 60px;
  border-radius: 10px;
  background: var(--bg-product-info);
  @include abstract.breakpoints(xxl) {
    padding: 40px;
  }
  @include abstract.breakpoints(xl) {
    padding: 20px;
  }
  @include abstract.breakpoints(sm) {
    padding: 16px;
    border-radius: 0 0 20px 20px;
  }
  &__form {
    flex-grow: 1;
  }
  &__heading {
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 1.38;
  }
  &__props {
    margin-left: 30px;
    @include abstract.breakpoints(xl) {
      margin-left: 0;
    }
  }
  &__prop {
    display: flex;
    align-items: flex-start;
    column-gap: 20px;
    margin-top: 30px;
    &--title {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1.44;
    }
    &--desc {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.42;
    }
  }
  &__prop--inner {
    padding: 5px !important;
  }
  &__tag {
    background-color: var(--bg-tag-prod-info) !important;
  }
  &__card {
    padding: 20px;
    margin-top: 30px;
    border-radius: 6px;
    border: 1px solid #b9babe;
    &__row {
      display: flex;
      align-items: center;
    }
    &__price {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.5;
    }
    &__tax {
      color: #67b044;
      background: rgba(103, 176, 68, 0.2);
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.43;
      margin-left: 10px;
      padding: 2px 8px;
    }
    &__total-price {
      display: block;
      font-size: 2.6rem;
      font-weight: 500;
      line-height: 1.38;
      margin: 20px 0 20px;
    }
    &--btn.btn {
      flex-grow: 1;
      font-size: 1.8rem;
    }
    &__heart {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 46px;
      height: 46px;
      margin-left: 20px;
      border-radius: 6px;
      border: 1px solid #d2d1d6;
    }
  }
}

.prod-tab {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: -20px;
  }

  &__item {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.46;
    color: #9e9da8;
    white-space: nowrap;
    padding: 0 20px;
    user-select: none;
    @include abstract.breakpoints(md) {
      font-size: 1.8rem;
    }
    &:not(&--current) {
      cursor: pointer;
    }
    &--current {
      color: inherit;
    }
  }

  &__content {
    display: none;
    padding-top: 30px;
    &--current {
      display: block;
    }
    &--heading {
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.42;
      padding-bottom: 30px;
      @include abstract.breakpoints(sm) {
        font-size: 1.8rem;
      }
    }
  }
}
